.App {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

header {
	background-color: rgb(50, 93, 67);
	height: 150px;
}
